
body {
  margin: 0;
  padding: 0 ;
   width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
  background-size :cover;
  background-position: center;
}

.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.left > ul {
  display: flex;
  gap: 15px;
}

li > a{
  text-decoration: none;
  text-transform: uppercase;
  color: white; 
}